body {
  color: black;
  font-family: "open sans";
  background-color: white;
  overflow: hidden;
}

body .container {
  width: 1300px;
}

body .container #sidopanel {
  background-color: #292929;
  height: 100vh;
  padding: 19px;
  font-family: "open sans";
}

body .container #sidopanel .search {
  position: relative;
}

body .container #sidopanel .search input {
  position: absolute;
  background-color: black;
  border: none;
}

body .container #sidopanel .logga {
  width: 100%;
}

body .container #sidopanel .logga img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 250px;
}

body .container #sidopanel .menu {
  margin-top: 30px;
}

body .container #sidopanel .menu .main_nav {
  list-style: none;
  padding: 0px;
}

body .container #sidopanel .menu .main_nav .current-menu-item a {
  color: red;
}

body .container #sidopanel .menu .main_nav li {
  padding: 10px 0px;
  color: blue;
}

body .container #sidopanel .menu .main_nav li a {
  color: white;
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
}

body .container #sidopanel .social {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
}

body .container #sidopanel .social i {
  font-size: 25px;
  flex-basis: 15%;
  color: white;
}

body .container #sidopanel .partners {
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

body .container #sidopanel .partners .partner {
  display: block;
  height: auto;
  flex-basis: 33%;
}

body .container #sidopanel .partners .partner img {
  max-width: 100px;
}

@media (min-width: 1400px) {
  body .container #sidopanel {
    left: 0%;
  }
}

@media (max-width: 1400px) {
  body .container #sidopanel {
    left: 1%;
  }
}

body .container #content {
  position: realative;
  font-family: "open sans";
}

body .container #content .text {
  z-index: 999;
  position: relative;
  padding-top: 100px;
  color: white;
  width: 80%;
  margin: auto;
}

body .container #content .text h1 {
  font-family: "open sans";
  font-family: inherit;
  text-align: center;
  font-size: 50px;
  position: relative;
  margin: 0px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

body .container #content .text h1:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  height: 2px;
  width: 50px;
  margin: auto;
  background-color: red;
}

body .container #content .text h1:after {
  content: "";
  margin: auto;
  position: absolute;
  background-color: red;
  right: 0px;
  top: 0px;
  bottom: 0px;
  height: 2px;
  width: 50px;
}

body .container #content .blurarea {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 15px;
  background-color: rgba(0, 0, 0, 0.4);
}

body .container #content .blurarea .blurcontainer {
  position: relative;
}

body .container #content .blurarea .blurcontainer .textarea {
  /* Put this on top of the blurred layer */
  position: relative;
  color: white;
  z-index: 100;
  padding: 20px;
  background: #222222;
  /* for IE */
  background: rgba(34, 34, 34, 0.75);
}

body .container #content .blurarea .blurcontainer .blur-bg {
  background-image: url("http://localhost:8080/design/wp-content/uploads/2016/09/AdobeStock_40515377.jpeg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 99;
  background-position: center -70px;
  -webkit-filter: blur(10px);
  filter: url(/media/blur.svg#blur);
  filter: blur(10px);
}

body .container #content .text-section {
  margin: 30px 0px;
}

body .container #content p {
  font-size: 18px;
  line-height: 20px;
  font-family: "open sans";
}

body .container #content .banner {
  background-position: 50%;
  background-size: cover;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
}

body .container #content .banner img {
  width: 100%;
  height: auto;
  display: block;
}

body .container #content .tjanst-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

body .container #content .tjanst-flex .tjanst {
  flex-basis: 33%;
  padding: 10px;
}

body .container #content .tjanst-flex .tjanst img {
  width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-thumb {
  background: red;
}

::-webkit-scrollbar-track {
  background: #fff;
}
