html{
    height: 100%;
}
body{
    font-family: 'Crimson Text', serif;
    color: #485154;
}
p{
    font-size: 1.5em;
    font-family: helvetica-neu;
    width: 80%;
    margin: auto;
}
h1,h2,h3,h4{
    font-family: 'Montserrat', sans-serif;
    /* font-size: 1.2em; */
}
header{
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    display: block;
    position: relative;
    top: 0px;
    z-index: 100;
    font-family: 'Montserrat', sans-serif;
    background-color: #FEFEFE;
}

.logo{
    float: left;
}

.logo img{
    max-height: 90px;
}

.head-info-wrap {
    width: 70%;
    float: right;
    margin-top: 40px;
}

.header-top {
    background-color: #F3F2F2;
    padding: 10px 0px;
    display: none;
    border-bottom: 1px solid rgba(171, 171, 171, 0.49);
}
.header-top i {
    margin-right: 10px;
}
.hours-right{
    float: right;
    margin-left: 20px;
}
.hours{
    float: left;
    font-size: 14px;
}

.phone{
    
    float: right;
    font-size: 14px;

}

.mail {
    float: right;
    margin-left: 20px;
    font-size: 14px;
}

.mail a{
    color: black;
}

.menu-main-menu-container{
    /* position: absolute; */
    /* left: 50px; */
    /* right: 0px; */
    /* top: 20px; */
    /* bottom: 0px; */
    /* margin: auto; */
    /*background-color: #122A77;*/
    text-align: center;
}


ul{
    list-style: none;
}

.container ul{
    list-style: initial;
    /* width: 80%; */
    margin: auto;
}

.container ul li{
    font-size: 1.5em;
}
.banner{
    repeat:no-repeat;
    background-size: cover;
    background-position: bottom;
    text-align: center;
    height: 500px;
    padding: 150px 0px;
    padding-bottom: 200px;
    padding-top: 100px;
    position: relative;
    z-index: 10;
}

.banner h1 {
    background: #2A6598;
    color: white;
    padding: 15px;
    border-radius: 8px;
    display: inline-block;
    font-size: 45px;
    z-index: 100;
    font-weight: 700;
}

section.banner h3 {
    display: block;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-shadow: 0px 0px 45px rgba(23, 23, 23, 0.53);
    font-size: 35px;
    font-weight: 300;
    z-index: 90000;
}

.banner h1,h3{
    text-align: center;
}
.section-blue{
    background-color: #2A6598;
    padding: 90px 0px;
    color: white;
}
.section-white{
    padding: 90px 0px;
    position: relative;
    background-color: #EFEFEF;
}

.section-white h1{
    font-weight: 700;
    margin-bottom: 25px;
    font-size: 2.5em;
}
.section-dark{
    padding: 90px 0px;
    background-color: #383838;
}
.section-dark p{
    color: #B9B9B9;
}
.section-dark .title{
    color: white;
}
.clear{
    clear: all;
}
.clearfix{
    clear: both;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -10;
    top: 0px;
    display: block;
}
.overlay .title{
        color: white;
    text-align: center;
    font-weight: 300;
    font-stretch: normal;
    font-size: 40px;
    line-height: 79px;
    text-transform: uppercase;
    letter-spacing: 0.10em;
}

#logo-wrap{
    /* height: 110px; */
    border-bottom: 0px solid #000000;
    padding: 10px 0px;
}
.header-logo {
    width: 50%;
     float: left;
}

.header-logo img{
    width:80%;
    margin:auto;
}

.tjanster{
    width: 50%;
    overflow: visible;
    float: right;
}
.dropdown{
    width: 65%;
    position: relative;
    /* margin:auto; */
    float: right;
    overflow: visible;
    margin-top: 60px;
}

.dropdown i {
    /* margin-top: 26px; */
    font-size: 40px;
    display: block;
    /* color: #122A77; */
    color: white;
    width: 25%;
    height: 92px;
    background-color: #122A77;
    float: left;
    position: relative;
}

.fa-angle-down:before {
    content: "\f107";
    position: absolute;
    top: 30%;
    left: 30%;
}

.dropdown h5{
    float: left;
    padding: 25px 0px;
    padding-left: 5px;
    font-size: 17px;
    width: 75%;
}

button.dropbtn {
    width: 100%;
    padding: 0px;
    margin: auto;
    background-color: white;
    border: 0px;
}


.dropdown-content {
    display: none;
    /* width: 100%; */
    text-align: left;
    overflow: auto;
    border-top: 1px solid #122A77;
    padding-top: 10px;
    position: absolute;
    /* position: static; */
    padding-bottom: 10px;
    background-color: white;
}

.dropdown-content a{
    float: left;
    display: block;
    font-size: 15px;
    width: 100%;
    padding: 5px 15px;
}

header .nav-menu ul{
    list-style: none !important;
}

.site_nav{
    display: block;
    padding: 0px;
    margin: 0px;
}
.site_nav li {
    float: left;
    /* position: static; */
    margin: 0;
    padding: 15px 15px;
    /* padding-top: 25px; */
}

.site_nav li a {
    font-size: 18px;
    letter-spacing: 1.1px;
    color: black;
    font-size: 19px;
    /* padding-bottom: 5px; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.site_nav .current_page_item a:after{
    background-color: #AFD0EB;
}
.site_nav .current_page_item a:after:hover{
    background-color: #337ab7;
}
/*
.site_nav li a:after {
    content: "";
    background-color: white;
    margin-top: 5px;
    width: 120;
    height: 3px;
    display: block;
    transition: 0.5s all ease;
}
*/
.site_nav li a:hover:after{
    background-color: #AFD0EB;
}
.site_nav li a:hover{
    text-decoration: none;
    cursor: pointer;
}

.site_nav a:hover{
    color: red; 
}

.site_nav .current_page_item a {
    /* font-size: 18px; */
    color: #ed1c24;
}
.title, h1{
    font-family: 'Montserrat', sans-serif;
    color: #343535;
}
.bold{
    font-weight: 700;
}
.parallax-box {
    position: relative;
    overflow: hidden;
    min-height: 250px;
    padding: 0px;
}
.parallax-container {
    min-height: 400px;
    background: transparent;
        position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
        height: 100%;
}
 .parallax-content {
    padding: 150px 15px;
}

.parallax-content {
    position: relative;
    z-index: 2;
}

.klipp-wrap {
    border: 2px solid black;
    padding: 10px;
    padding-bottom: 50px;
    padding-top: 50px;
        position: relative;
}
.klipp-wrap .title, .price, .button{
    text-align: center;
}

.klipp-wrap .title{
    font-weight: 700;
    font-size: 20px;
}
.button {
    padding: 20px;
    background: black;
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 40px;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.button a{
    color: white;
    transition:color 0.5s ease;
}
.button a:hover{
    text-decoration: none;
    color: #337ab7;
}
.top-left{
    position: absolute;
    top:-1px;
    left: -3px;
    height: 10px;
    width:3px;
    background-color: white;

}

.top-right{
    position: absolute;
    top: 50%;
    margin-top: -25px;
    right: -5px;
    height: 50px;
    width: 10px;
    background-color: white;
}

.top-middle{
    position: absolute;
    top:-5px;
    margin-left: -25px;
    left: 50%;
height: 10px;
    width:50px;
    background-color: white;
}

.side-left{
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: -5px;
    height: 50px;
    width: 10px;
}

.side-right{
    position: absolute;
    top:50%;
    margin-top: -25px;
    right: -5px;
height: 50px;
    width:10px;
}
.bottom-right{
    position: absolute;
    bottom:-1px;
    right: -3px;
    height: 10px;
    width:3px;
    background-color: white;
}

.info-box-wrap{
    width: 89%;
    margin: auto;
}

.info-box{
    /*
    padding: 20px;
    border:2px solid #2A6598;
    */
}

.info-box p {
    font-size: 1.5em;
}

.main-text-wrap{
    width: 90%;
    padding: 20px 0px;
    padding-bottom: 40px;
    margin: auto;
    line-height: 1.7;
}
.main-text-wrap h1{
    margin-top: 0px;
    font-size: 45px;
    color: black;
    text-transform: uppercase;
    text-align: center;
}
.main-text-wrap p{
    text-align: left;
        font-size: 1.4em;
}
.main-text-wrap p a{
       text-align: center;
    margin: auto;
    display: block;
    padding: 20px;
    width: 60%;
    color: white;
    background-color: #2A6598;
    font-family: 'Montserrat', sans-serif;
}



.bottom-left{
    position: absolute;
    bottom:-1px;
    left: -3px;
    height: 10px;
    width:3px;
    background-color: white;
}

.bottom-middle{
    position: absolute;
    bottom:-5px;
    left: 50%;
    margin-left: -25px;

    height: 10px;
    width:50px;
    background-color: white;
}

.price{
    font-size: 16px;
    margin-top: 10px;
}
h3.title {
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}

.row.price-row{
    margin-top: 50px;
    margin-bottom: 50px;
}

.row.price-row:first-child{
    margin-top: 0px;
}

.stats-wrap {
    border: 5px solid white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.stats .title{
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 300;
    position: relative;
}

.stats .title:after{
    content: " ";
    height: 3px;
    position: absolute;
    width: 60px;
    background-color: #E0E03C;
    bottom: 0px;
    left: 50%;
    margin-left: -30px;
}
.stats .price{
font-size: 25px;
    font-weight: bold;
    color: white;
}
i.fa.fa-clock-o {
}

i.fa.fa-clock-o:after{
    content: "";
    width: 200px;
    height: 5px;
    background-color: white;
    position: absolute;
    bottom: -15px;
    left: 0px;
}

section.section-blue h2 {
    /* float: right; */
    margin: 0px;
    color: white;
}
.main-text-wrap img {
    width: 60%;
    height: auto;
    margin: auto;
    display: block;
}
.kontakt-info {
    /* float: left; */
    width: 100%;
    margin-bottom: 31px;
}

.map {
    width: 100%;
}

.map iframe{
    width: 100%;
}

footer{
        overflow: auto;
        background-color: #000000;
        color: #333;
        border-top: 1px solid rgba(97, 97, 97, 0.5);
        padding: 20px 0px;
        text-align: center;
}

footer p{
    color: white;
    font-family: montserrat;
    font-size: 16px;
}

footer span{
    display: block;
    color: white;
}


footer .textwidget{
        display: block;
    color: white;
    text-align: center;
    font-size: 17px;
}

.widget_text {
    overflow: auto;
    float: left;
    float: left;
    padding: 10px 0px;
    margin: 10px 0px;
    padding-right: 20px;
    margin-right: 40px;
    border-right: 1px solid white;
}

.widget_text:last-child {
    border:none;
}


.static{
    position: static;
}

.left-side-text{
    /* width: 50%; */
    float: left;
    position: absolute;
    left: 0px;
    right: 45%;
    top: -200px;
    z-index: 999;
    background-color: white;
}

.sidebar{
    float: right;
}

.nav-menu{
   /* background-color: #122A77;*/
}

.nav-menu .menu-main-menu-container{
    /*margin-top: 70px;*/
   /* position: relative;*/
    text-align: left;

}

.section-white .container{
    position: relative;
}

.sidebar {
    float: right;
    width: 40%;
    max-width: 350px;
    display: block;
    margin: auto;
}


.sidebar a{
    color: white;
}



.sidebar-wrapper {
    /* padding: 10px 0px; */
    margin: 30px 0px;
    overflow: auto;
    clear: both;
    color: white;
    background-color: #000000;
}

.sidebar-wrapper:first-child{
    margin-top: 0px;
}

h2.rounded {
    padding: 10px 15px;
    /* background-color: #AFD0EB; */
    margin: 0px;
    font-size: 20px;
    color: #FFFFFF;
}

.sidebar .textwidget{padding: 10px 15px;font-size: 16px;}

.sidebar .textwidget i{
    margin-right: 10px;
}


label.screen-reader-text {
    display: none;
}

.single input#s {
    border:1px solid #AFD0EB;
}

.single input#searchsubmit {
    border: 0px;
    color: #122A77;
    background-color: #AFD0EB;
    font-size: 20px;
    font-family: Arial;
    padding: 14px 0px;
    margin: 20px 0px;
    width: 15%;
    float: left;
}

input#s {
    width: 70%;
    border: 0px;
    padding: 15px 10px;
    color: black;
    margin: 20px 0px;
    display: block;
    /* letter-spacing: 1.1; */
    font-size: 17px;
    font-family: arial;
    margin-left: 20px;
    /* margin: auto; */
    float: left;
    /* margin-left: 15px; */
}


input#searchsubmit{
    border:0px;
    color: #ffffff;
    background-color: #ed1c24;
    font-size: 20px;
    font-family: Arial;
    padding: 13px 0px;
    margin: 20px 0px;
    width: 15%;
    float: left;
}


.top-header-logo{
    width: 20%;
    padding: 20px 0px;
    float: left;
}

.top-header-logo img{
   width: 100%; 
}

.nav-menu{
    width: 70%;
    float: right;
    /* height: 110px; */
    /* position: relative; */
    margin-top: 10px;
}

.padding{
    padding: 200px 0px;
}

.single .container h1 {
    position: absolute;
    top: -78px;
        letter-spacing: 2px;
    z-index: 9999;
    left: 0px;
    background-color: white;
    padding: 10px 15px;
}

.home .section-white{
    padding-bottom: 200px;
}


section.section-white.single{
    padding: 0px;
     background-color: white;
}



section.section-white.single .container{
    padding: 90px 0px;
    /* background-color: white; */
}

.container-wrap{
    padding: 0px 20px;
}

section.section-white.single h3{
    text-align: left;
}

.kontakt-info p{
    font-size: 20px;
    width: initial;
}

.coworker {
    width: 50%;
    float: left;
    padding: 15px 0px;
    text-align: center;
}

.coworker h4{
    text-align: center;
}

.coworker ul{
    padding: 0px;
    width: initial;
    list-style: none;
    font-size: 14px;
}
.coworker ul li{
    font-size: 14px;
}

.coworker p{
    padding: 10px 0px;
    margin:0px;
    font-size: 14px;
}
.coworker img{
    max-height: 240px;
    width: auto;
    height: auto;
}

.map form{
        font-family: arial;

}

.form p{
    width: 100%;
}
.form label{
    font-size: 17px;

}
.single input[type="submit"]{
    background-color: #122A77;
    padding: 15px 20px;
    display: inline-block;
    border: none;
    color: white;
    font-family: arial;
}

.map input[type="submit"]{
    background-color: #122A77;
    padding: 15px 20px;
    display: inline-block;
    border: none;
    color: white;
    font-family: arial;
}

form .row{
    padding: 10px 0px:
}



input.wpcf7-form-control.wpcf7-submit7{
        background-color: #122A77;
    padding: 15px 20px;
    display: inline-block;
    border: none;
    color: white;
    font-family: arial;

}

.btn-blue {
    background-color: #122A77;
    padding: 15px 20px;
    display: inline-block;
    border: none;
    color: white;
    font-family: arial;
}

.btn-blue a{
    color: white;
    font-family: arial;
    font-size: 17px;
}

.ref-item {
    width: 70%;
    padding: 10px 0px;
    letter-spacing: 1.1px;
}


h1.search-title {
    overflow: hidden;
    display: block;
}


.referens h2 {
    color: white;
    font-size: 25px;
    margin-top: 0px;
    /* text-align: center; */
}

.referens {
    padding: 20px 25px;
    background-color: #007BC1;
    display: block;
    width: 40%;
    clear: both;
    margin-top: 50px;
}

.referens p{
    color: white;
}

.about-sec {
    width: 50%;
    float: left;
    padding: 20px 15px;
}

form#searchform {
    overflow: auto;
}

form .row{
    padding:10px 0px


}

form .col-md-4{
    font-size:20px;
    color:black;
    font-family:"montserrat";
}

.single form textarea{
    min-height: 150px;
    min-width:200px;
    font-size:20px;

}

.single input{
    font-size: 18px;
}

.coworker{
    height: 400px;
}



.coworker img{
    max-height: 190px;
    width: auto;
    display: block;
    margin: auto;
}

.small-title{
    margin: 0px 0px;
    padding: 10px 5px;
    font-size: 18;
}

div#wpcf7-f84-o1{
    margin: 15px 0px;
}

.box-wrap{
    margin-bottom: 30px;
}