html
    head
        link(href="/css/bootstrap.css" rel="stylesheet")
        link(href="style.css" rel="stylesheet")
        script(src="/js/jquery-1.12.0.min.js")
        script(src="/js/bootstrap.min.js")
        script(src="/js/parallax.min.js")
        script(src="/js/owl.carousel.min.js")
    body
        header
            .container
                nav.meny-wrap
                    div.logo
                        img(src="/img/logo.jpg")
                    div.meny
                        ul
                            li
                                a Hem
                            li
                                a Hur vi arbetar
                            li
                                a Om OSS
                            li
                                a Kontakt
        section.landing-banner(style="background-image:url('/img/placeholder1.jpg')")
            img(src="/img/placeholder1.jpg")
            .container
                .landing-text.title
                    h1 Många års erfarenhet av specialsnickeri
            
        footer
            .container
                .col-md-4.adress
                    h3 Norra gatan 7
                .col-md-4.social
                .col-md-4.phone
                    h3 0702587908
        