body, html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.asideVisible {
  overflow: hidden;
}

.asideVisible header .flex-wrap {
  transform: translate3d(-350px, 0, 0);
}

.parallax-mirror {
  z-index: 1;
}

body {
  margin: 0px;
  height: 100%;
  /* GENERELLA REGLER **/
  /*HEADER END*/
}

body img {
  max-width: 100%;
}

body .page-wrapper {
  -webkit-transition: -webkit-transform 350ms 50ms,width 350ms 0s;
  transition: transform 350ms 50ms,width 350ms 0s;
}

body .page-wrapper.open {
  transform: translate3d(-350px, 0, 0);
}

body .aside-wrap {
  position: fixed;
  z-index: 10000;
  top: 0;
  bottom: 0;
  right: -350px;
  width: 350px;
  color: #80A0B5;
  background-color: red;
  font-size: 16px;
  -webkit-transition: -webkit-transform 350ms 50ms,width 350ms 0s;
  transition: transform 350ms 50ms,width 350ms 0s;
}

body .aside-wrap ul {
  list-style: none;
}

body .aside-wrap ul li a {
  color: white;
}

body .aside-wrap.open {
  transform: translate3d(-350px, 0, 0);
}

body header {
  position: fixed;
  width: 100%;
  z-index: 99;
  height: 90px;
  transition: 1s ease all;
  background-color: rgba(196, 39, 39, 0);
}

body header .flex-wrap {
  width: 100%;
  display: flex;
  max-width: 80rem;
  justify-content: space-between;
  flex-direction: row;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-name: customMenuScroll;
  animation-name: customMenuScroll;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

body header .flex-wrap #logo {
  padding-left: 80px;
  transition: 1s ease all;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

body header .flex-wrap #logo img {
  max-width: 300px;
  height: auto;
  transition: 1s ease all;
}

body header .flex-wrap .bars {
  position: relative;
  height: 40px;
  width: 40px;
  align-self: center;
  transition: 1s ease all;
}

body header .flex-wrap .bars:hover {
  cursor: pointer;
}

body header .flex-wrap .bars span {
  pointer-events: none;
  display: block;
  position: absolute;
  height: 2px;
  width: 40px;
  top: 0;
  right: 0;
  background-color: white;
  -webkit-transition: background .3s,-webkit-transform .3s,top .3s;
  transition: background .3s,transform .3s,top .3s;
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

body header .flex-wrap .bars span:after {
  content: "";
  height: 2px;
  width: 40px;
  position: absolute;
  color: white;
  background-color: white;
  top: 4px;
  right: 0;
  -webkit-transition: background .3s,-webkit-transform .3s,top .3s;
  transition: background .3s,transform .3s,top .3s;
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

body header .flex-wrap .bars span:before {
  content: "";
  height: 2px;
  width: 40px;
  position: absolute;
  color: white;
  background-color: white;
  top: 8px;
  right: 0;
  -webkit-transition: background .3s,-webkit-transform .3s,top .3s;
  transition: background .3s,transform .3s,top .3s;
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

body header .flex-wrap .bars.open {
  z-index: 9999;
}

body header .flex-wrap .bars.open span {
  background: 0,0;
}

body header .flex-wrap .bars.open span:after {
  top: 0px;
  transform: rotate(45deg);
}

body header .flex-wrap .bars.open span:before {
  top: 0px;
  transform: rotate(-45deg);
}

body header ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 100%;
}

body header ul li {
  transition: 1s ease all;
}

body header ul li a {
  color: white;
  text-decoration: none;
  transition: 1s ease all;
}

body header ul li a:hover {
  text-decoration: underline;
}

body header nav {
  width: 100%;
}

body .banner {
  min-height: 500px;
}

body .banner .para-text {
  position: absolute;
  color: white;
  top: 40%;
  left: 0px;
  right: 0px;
  width: 80%;
  margin: auto;
  text-align: center;
  z-index: 1;
}

body .banner .para-text h1 {
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 10px;
}

body .banner .para-text a {
  color: white;
  text-decoration: none;
  background-color: #c42727;
  padding: .875rem 2.1875rem .9375rem;
  color: #fff;
  -webkit-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out;
  padding: 1rem 2rem 1.0625rem;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  display: inline-block;
  font-size: 1rem;
  border-radius: 5px;
}

body .banner .para-text a:hover {
  text-decoration: underline;
}

body .banner .para-text p {
  font-size: 22px;
}

body .container {
  max-width: 1200px;
  margin: auto;
}

body .container .product {
  width: 300px;
  height: 300px;
}

body .parallax-window {
  min-height: 400px;
  background: transparent;
  position: relative;
  overflow: hidden;
}

body .parallax-window .para-image {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  background-size: cover;
  left: -10px;
  right: -10px;
}

.parallax-container {
  height: 500px;
  width: 100%;
}

/*Process styles*/
#process {
  width: 100%;
  margin-top: 10vh;
}

#process .l-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
