body{

	.page-container{

		    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    overflow-y: visible;
    overflow-x: hidden;

	}

	.header-mobile{

	height: 52px;
    background: #1c1c1c;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 40;
    display: none;


    @media(max-width: 768px){
    	display: block;
    	z-index: 140;
    }

	}
	color:black;
	font-family:"open sans";
	background-color:white;
	overflow:hidden;


			nav{

				width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 130;
    -webkit-transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1);


	#sidopanel{
    background: #262626;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    z-index: 34;
    height: 100vh;
    width: 250px;
    padding-bottom: 60px;
    position: relative;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    transition: all 350ms ease;

}

    .search{
    	position:relative;



    	form{

    		padding: 9px 30px;
    background-color: #1c1c1c;
    overflow: hidden;

    	input{
    		background-color:#1c1c1c;
    		border: none;
    		color: white;

    		    float: left;
    padding: 0;
    width: 80%;
    	}

    	input[type="number"] input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="search"], textarea {
    box-sizing: border-box;
    display: inline-block;
    border: none;
    padding: 0 0.8125em;
    height: 2.4375em;
    position: relative;
    vertical-align: middle;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
}

    }
    }

		.logga{
    display: block;
padding: 20px 20px 25px 20px;
    border: none;
    color: #fff;
    background: none;
				img{
					width: 100%;
					height: auto;
					display: block;
					max-width: 250px;
				}
			}
			.menu{

			.main_nav{
			list-style: none;
			padding: 0px;

			.current-menu-item{

			

					a{
						color: red;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    display: block;
    text-align: left;
    font-weight: 400;
    font-size: 17px;
    padding: 0px 30px;
    border-bottom: none;
    line-height: 55px;
    position: relative;
					}
		
				
			}

			li{
				padding:10px 0px;
				color:blue;
				a{
    letter-spacing: 0.05em;
    text-transform: uppercase;
    display: block;
    text-align: left;
    font-weight: 400;
    font-size: 17px;
    color: #fff;
    padding: 0px 30px;
    border-bottom: none;
    line-height: 55px;
    position: relative;
				}
			}
		}
	}

	.social{
		margin-top:30px;
		margin-bottom: 30px;
		display: flex;
		flex-direction: row;
		padding:0px 30px;


		//justify-content: center;
		i{
			font-size:25px;
			flex-basis: 15%;
			color: white;


		}
	}

	.partners{
		display:flex;
						flex-direction: row;
					align-items:center;

					  -webkit-flex-flow: row wrap;
	  justify-content: space-around;

		.partner{
			display: block;
			height:auto;
			flex-basis: 33%;


			img{

				max-width: 100px;

			}
		}
	}

	@media(min-width:1400px){
		left: 0%;

}

@media(max-width:1400px){
		left: 1%;

}

}

.site-content{

	.banner{
		padding: 0px 30px;
	}

	    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    outline: none;

    left: 250px;
    z-index: 30;
    color: #1c1c1c;
    background: #fff;
    -webkit-transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

    img{
    	max-width: 100%;
    	height:auto;
    }

    .text{
    	padding: 30px;
    }

}

	.container{




		#content{
			position:realative;
			font-family: "open sans";

			.text{
				z-index: 999;
				position:relative;
				padding-top:100px;
				color: white;
				width: 80%;
				margin:auto;

				h1{
					font-family: "open sans";
					font-family: inherit;
					text-align: center;
					font-size: 50px;
					position:relative;
					margin: 0px;
					margin-bottom: 50px;
					text-transform: uppercase;

					&:before{
						content: "";
						position:absolute;
						left: 0px;
						top: 0px;
						bottom:0px;
						height: 2px;
						width: 50px;
						margin: auto;
						background-color:red;
					}

					&:after{
						content: "";
						margin: auto;
						position:absolute;
						background-color:red;
						right: 0px;
						top: 0px;
						bottom:0px;
						height: 2px;
						width: 50px;
					}

				}
			}

			.blurarea{
position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 15px;
    background-color: rgba(0, 0, 0, 0.4);

				.blurcontainer{
					position:relative;

					.textarea{
/* Put this on top of the blurred layer */
  position: relative;
  color: white;
  z-index: 100;
  padding: 20px;
  background: rgb(34,34,34); /* for IE */
  background: rgba(34,34,34,0.75);

					}


					.blur-bg{
background-image:url('http://localhost:8080/design/wp-content/uploads/2016/09/AdobeStock_40515377.jpeg');
background-size:cover;
	    position: absolute;
	    top: 0px;
	    right: 0px;
	    bottom: 0px;
	    left: 0px;
	    z-index: 99;
	    background-position: center -70px;
	    -webkit-filter: blur(10px);
	    filter: url(/media/blur.svg#blur);
	    filter: blur(10px);
					}
			}
			}

			.text-section{
				margin:30px 0px;
			}

			p{
				font-size: 18px;
				line-height: 20px;
				font-family: "open sans";
			}

			.banner{
			background-position: 50%;
			background-size:cover;
			height: 100vh;
			width: 100%;
			overflow-y: scroll;
				img{
					width: 100%;
					height: auto;
					display: block
				}
			}

			.tjanst-flex{
				display: flex;
				flex-direction: row;
				align-items:center;

			.tjanst{
    				flex-basis:33%;
    				padding:10px;

    				img{
    					width: 100%;
    					height: auto;
    				}
			}
		}
	}
		}
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}


::-webkit-scrollbar-thumb {
    background: red;
}


::-webkit-scrollbar-track {
    background: #fff;
}


/**/
